<!-- Header -->
<header>
    <!-- Navbar Brand -->
    <div class="navbar-brand">
        <a href="/">Rowan Kharnoub</a>
    </div>
    <!-- Checkbox -->
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <!-- Navbar -->
    <nav>
        <ul>
            <li>
                <a href="/#my-journey">Journey</a>
            </li>
            <li>
                <a href="/#my-achievements">Works</a>
            </li>
            <li>
                <a href="/#about-me">About</a>
            </li>
            <li>
                <a href="/contact/">Contact</a>
            </li>
        </ul>
    </nav>
    <!-- Toggle für Mobile-Nav -->
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>