<!-- Erste Section "me-hero" -->
<section class="me-hero">
    <div class="me-hero-container">
        <!-- Nur diese Section hat das Bild am See für Desktop! -->
        <div class="hero-content">
            <div class="hero-created">
                <h2>Created by me :)</h2>
            </div>
            <div class="hero-rona">
                <p>
                    You can call me Rona. This is like a tiny journey about me, my life, my studies and my achievements. More about all gonna find you on this cozy website. Have fun!
                </p>
            </div>
            <div class="say-hi__container">
                <p>
                    <a class="say-hi" href="/contact">Say Hi!</a>
                </p>
            </div>
        </div>
        <!-- Mainbild für Mobile Version -->
        <div class="main-pic-mobile">
            <img class="me-pic" src="../images/eutin-Mobile.jpg" width="100%">
        </div>
    </div>
</section>