<section class="me-hero">
    <div class="me-hero-container">
        <!-- Nur diese Section hat das Bild am See!  -->
        <div class="hero-content">
            <h2>Created by me :)</h2>
            <p>
                You can call me Rona. This is like a tiny journey about me, my life, my studies and my achievements. More about all gonna find you on this cozy website. Have fun!
            </p>
            <p class="say-hi__container">
                 <a class="say-hi" href="/contact" >Say Hi!</a>
            </p>
        </div>            

        <!-- Mainbild für Mobile Version -->         
        <div class="main-pic-mobile"> 
            <img class="me-pic" src="../images/eutin-Mobile.jpg" width="100%">
            {# <img class="me-pic" src="../images/arbeitstisch.jpg" width="100%"> #}
        </div>
    </div>
</section>