<!-- Vierte Section "my-achievements" -->
<section class="my-achievements" id="my-achievements">
    <div class="hero-achievement__content">
        <!-- Inhalt kommt hier hinein! -->
        <h1>My Achievements</h1>
        <p>This part shows my work pieces at Ths. Let's dive in!</p>
        <div class="achiev-containers">
            <!-- Kinderbuch -->
            <div class="book">
                <h5 class="book-title">Wer hilft, der führt</h5>
                <figure>
                    <img src="../images/wer-hilft2.JPG" width="100%" alt="">
                    <figcaption>
                        <a class="figcaption" href="./baustelle.html">Design Project I - A purposeful Story for Kids</a>
                    </figcaption>
                </figure>
                <p>
                    It's a little story about the clever mouse and the other animals from the jungle. What happened to the lion, or what has the mouse to do with the elephant? More and more are you going to get about in this book.
                </p>
            </div>
            <!-- Spiel -->
            <div class="game">
                <h5 class="game-title">KetchUp Game</h5>
                <figure>
                    <img src="../images/game1.JPG" width="100%" alt="">
                    <figcaption>
                        <!-- Link auf die Projektseite -->
                        <a href="./baustelle.html" class="figcaption">Special Topics of Media Science I - Game in Unity - Level 1</a>
                    </figcaption>
                    <div class="level-2">
                        <img src="../images/game2.JPG" width="100%" alt="">
                        <figcaption>
                            <!-- Link auf die Projektseite -->
                            <a href="./baustelle.html" class="figcaption">Special Topics of Media Science I - Game in Unity - Level 2</a>
                        </figcaption>
                    </div>
                </figure>
                <p>
                    It's a little edifying story about the clever mouse and the other animals from the jungle. What happened to the lion, or what has the mouse to do with the elephant? You will learn that and more in this book.
                </p>
            </div>
            <!-- Webseite -->
            <div class="website">
                <h5 class="website-title">Me Rona</h5>
                <figure>
                    <img src="../images/Desktop-Version.JPG" width="100%" alt="">
                    <figcaption>
                        <a class="figcaption" href="./baustelle.html">Design Project II - A Portfolio about my life</a>
                    </figcaption>
                </figure>
                <p class="last-achiev">
                    This project is about a little website about me. As a beginner, I wanted to develop myself further in this department of web development and scripting languages. This part of work can tell about my skills in this domain.
                </p>
            </div>
        </div>
    </div>
</section>