<section class="my-journey" id="my-journey">
<div class="hero-journey__content">
    <h1>My Journey</h1>
    <p class="journey-txt">Hier is a part of my journey side. Let's dive in!</p>
</div>

<!-- Inhalt von Bildern: Flex-Container!  -->
<div class="jo-pics">
    <!-- Figure << 1 >> -->
    <figure>
        <img src="../images/am-strand.jpeg" alt="">
        <figcaption>Date: Sep. 2015</figcaption>
        <p>In Turkey waiting for an old rubber boat..</p>
    </figure>
    <!-- Figure << 2 >> -->
    <figure>
        <img src="../images/im-boot.jpeg" alt="">
        <figcaption>Date: Sep. 2015</figcaption>
        <p>In an old rubber boat with my sister..</p>
    </figure>
    <!-- Figure << 3 >> -->
    <figure>
        <img src="../images/serbia.jpg" alt="">
        <figcaption>Date: Sep. 2015</figcaption>
        <p>After our rescure from the boat and.. </p>
    </figure>
    <!-- Figure << 4 >> -->
    <figure>
        <img src="../images/wien.jpg" alt="">
        <figcaption>Date: Sep. 2015</figcaption>
        <p>Last but not least in Vienna. We'd been..</p>
    </figure>
    <!-- Figure << 5 >> -->
    <figure>
        <img src="../images/taxi.jpg" alt="">
        <figcaption>Date: Dec. 2015</figcaption>
        <p>Getting ready for the journey from Turkey..</p>      
    </figure>
            <!-- Figure << 6 >> -->
    <figure>
        <img src="../images/boat-mama.jpeg" alt="">
        <figcaption>Date: Dec. 2015</figcaption>
        <p>The driver of the boat is heading us..</p>
    </figure>
</div>
<div class="journey__last-part">
    <!-- Last Part -->
    <div class="txt-journey-container">
        <p>The whole Journey has taken more than three Months. In these days and in my age of "18" I have tried to get more experiences through the long road to Germany. </p>
        <p>At first, we had the plan to travel by plane from Lebanon to Turkey, there is my colleague waiting to give us a hand, and that had helped us a lot to know our destination in that Land.</p>
        <p>After buying life vests for each one of us, we had the decision to find a Bootlegger to get us to the border of Greece. </p>
        <p>In Turkey the Bootlegger took us to accomodate in "Yeni Erbil Otel", and at that Motel there were lots of passangers and strangers, that they have the same story of us. </p>
        <p>After long dealing we were on that poor boat more than 35 travellers...</p>    
    </div>
    <div class="pic-journey-container">
        <figure class="jo-map">
            <img src="../images/Erbil-Motel.JPG" alt="">
            <figcaption>Route to Mytilini afoot</figcaption>
        </figure>
    </div>

</div>
</section>