<!-- Vierte Section "my-achievements" -->
<section class="my-achievements" id="my-achievements">
    <div class="hero-achievement__content">
        <!-- Inhalt kommt hier hinein! -->
        <h1>My Achievements</h1>
        <p>This part shows my work pieces at Ths. Let's dive in!</p>
        <div class="achiev-containers">
            <!-- Kinderbuch -->
            <div class="book">
                <div class="book-container">
                    <figure>
                        <img src="../images/wer-hilft2.JPG" width="100%" alt="">
                        <figcaption>
                            <a class="figcaption" href="#">Design Project I - A purposeful Story for Kids</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="book-title-container">
                    <h5 class="book-title">Wer hilft, der führt</h5>
                    <p>
                        It's a little child story about the clever mouse and the other animals from the jungle. What happened to the lion, or what has the mouse to do with the elephant? More and more are you going to get about in this book.
                    </p>
                </div>
            </div>
            <!-- Spiel -->
            <div class="game">
                <div class="game-container">
                    <figure>
                        <img src="../images/game1.JPG" width="100%" alt="">
                        <figcaption>
                            <a href="#" class="figcaption">Special Topics of Media Science I - Game in Unity - Level 1</a>
                        </figcaption>
                        {# <div class="level-2">
                            <img src="../images/game2.JPG" width="100%" alt="">
                            <figcaption>
                                <a href="#" class="figcaption">Special Topics of Media Science I - Game in Unity - Level 2</a>
                            </figcaption>
                        </div> #}
                    </figure>
                </div>
                <div class="game-title-container">
                    <h5 class="game-title">KetchUp Game</h5>
                    <p>
                        KetchUp is a 2D-Game made with Unity-Programm. It has two levels with a small black running enemy. Its idea based on Super-Mario game. On first level the player has to eat colored musical notes and then hops into the big note to go into the second level.
                    </p>
                </div>
            </div>
            <!-- Webseite -->
            <div class="website">
                <div class="webseite-container">
                    <figure>
                        <img src="../images/Desktop-Version.JPG" width="100%" alt="">
                        <figcaption>
                            <a class="figcaption" href="#">Design Project II - A Portfolio about my life</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="webseite-title-container">
                    <h5 class="website-title">Me Rona</h5>
                    <p class="last-achiev">
                        This project is about a little website about me. As a beginner, I wanted to develop myself further in this department of web development and scripting languages. This part of work can tell about my skills in this domain.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>