@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Rancho&family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,300;1,400;1,600;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

/* 
  Globale CSS Variablen
  Unterstuetzen das DRY-Prinzip
*/
:root {
  /* Background fuer den Desktop */
  --background: rgba(241, 237, 241, 0.25);
  /* Background fuer das Smartphone */
  --background-mobile: rgba(241, 237, 241, 0.85);

  /* ======= Fonts and typography ====== */
  /* ======= 'fs' steht fuer "font-size" ======*/
  /* ======= .5rem = 8px, 1rem = 16px, 1.5rem = 24px etc. ====== */
  --fs-h1: 3.5rem;
  --fs-h2: 2.5rem;
  --fs-h3: 1.875rem;
  --fs-p: 1.25rem;
  --fs-nav: 1.6rem;

  /* ==== Font Family ('ff') ==== */
  --ff-p: "Nunito";
  --ff-title: "Roboto";

  /* ======= Farben ====== */

  /* fuer die Navigation */
  --nav-color: #427b9c;
  --nav-dektop-c: hsl(230, 15%, 24%);
  --txt-global: #5b5555;

  /* ======= z index fuer das Modal ====== */
  --z-fixed: 100;
  --z-modal: 1000;

  /* ======= Paddings & Margins Werte ====== */
  /* ======= .25rem = 4px, .5rem = 8px, .75rem = 12px etc. ====== */
  --base-padding: 23rem;
  --base-m-padding: 2rem; /* padding fuer Mobile*/
  --fs-m-h1: 2.2rem;
  --fs-m-h2: 1.5rem;
  --fs-m-h5: 1rem;
  --fs-m-p: 1.1rem;
  --pl: 1.8em;
  --pb: 1.2em;
  --mt: 6rem;
}

/* ================ Basis-Einstellungen ============== */

/* Bezugsgroesse fuer abstaende nach innen und aussen: border */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  /* bewirkt "cooleres" Scrolling-Verhalten */
  scroll-behavior: smooth;
}
body {
  text-align: left;
  /* Standardmargin des Browsers korrigieren */
  margin: 0;
}
main {
  max-width: 100%;
}
/* Weitere allgemeine Einstellungen */
img {
  max-width: 100%;
  height: auto;
}
ul {
  /* keine Bullets bei Listen */
  list-style: none;
}
a {
  /* keine unterstrichenen Links */
  text-decoration: none;
}
h1 {
  font-family: var(--ff-title);
  font-style: normal;
  font-size: var(--fs-m-h1);
  color: var(--nav-color);
}
h2 {
  font-family: var(--ff-title);
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-m-h2);
  color: var(--nav-color);
}
h5 {
  text-align: left;
  font-size: 1rem;
  color: var(--txt-global);
  margin-bottom: var(--fs-m-h5);
}
p {
  font-family: var(--ff-p);
  text-align: left;
  font-size: var(--fs-m-p);
  font-weight: normal;
  color: var(--txt-global);
}

/* ==== Header-Einstellung ==== */
header {
  /* platziert den Header auf den Viewport bezogen */
  position: fixed;
  /* positioniert den header links oben im Viewport */
  top: 0;
  left: 0;
  /* laesst den Header ueber der Seite schweben */
  z-index: var(--z-fixed);
  width: 100%;
  /* macht den Header zum Flex-Container */
  display: flex;
  /* platziert alle Flex-Elemente am Ende des Containers */
  justify-content: flex-end;
  /* richtet die Flex-Elemente vertikal in der Mitte aus */
  align-items: center;
  padding: 2rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background: var(--background-mobile);
}
.navbar-brand a {
  flex-basis: 50%;
  letter-spacing: 1px;
  font-size: var(--fs-nav);
  color: var(--nav-color);
  font-family: var(--ff-title);
}
/* ========== Mobile-Navigation: =========== */
nav {
  /* absolut in bezug auf das parent element <header>  */
  position: absolute;
  /* ganz oben, ganz links */
  top: 100%;
  left: 0;
  text-align: left;
  width: 100%;
  background: rgba(241, 237, 241, 0.972);
  /* Nav-Animations-Einstellungen */
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.44s ease-in-out;
}

/* ============= Navigation ============= */
nav ul {
  margin: 0;
  padding: 0;
  padding-left: var(--pb);
  padding-bottom: 10px;
  list-style: none;
  padding-top: 1em;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  text-decoration: none;
  font-family: var(--ff-title);
  color: var(--nav-color);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: var(--fs-nav);
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}
/* ~ dieser Selektor sucht nach einem nav, 
das direkt auf einen "checked" .nav-toggle folgt. 
"Uebersetzung": "Sobald auf das Nav-Icon (Hamburger) geklickt wird ..."*/
.nav-toggle:checked ~ nav {
  /* ... vergroessern! */
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  /* Links erscheinen im Display */
  opacity: 1;
  /* ... und das mit einem Uebergang von 250ms */
  transition: opacity 0.25s ease-in-out 0.25s;
}
/* Ckeckbox, die die Navigations-Animation ausloest */
.nav-toggle {
  /* zunaechst unsichtbar */
  display: none;
}
/* Das Hamburger-Symbol, aus einem Label mit drei Spans erzeugt */
.nav-toggle-label {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 1.2rem;
  height: 50%;
  align-items: center;
  padding-left: var(--pl);
  display: flex;
}
.nav-toggle-label span,
.nav-toggle-label::before,
.nav-toggle-label::after {
  display: block;
  position: relative;
  height: 4px;
  width: 2.8em;
  border-radius: 1rem;
  background: var(--nav-color);
}
.nav-toggle-label::before,
.nav-toggle-label::after {
  content: "";
  position: absolute;
}
/* Abstand zwischen den Spans*/
.nav-toggle-label::before {
  bottom: 6px;
}
.nav-toggle-label::after {
  top: 6px;
}

/* Paddings für alle Abschnitte -- Mobile */
.me-hero,
.my-journey,
.title-about-me,
.about-me,
.my-achievements,
.contact-container {
  padding: 0 var(--base-m-padding);
}
.hero-content h2,
.hero-journey__content h1,
.title-about-me,
.hero-achievement__content h1 {
  padding-top: var(--mt);
}
.jo-pics,
.achiev-containers,
.hero-about__content {
  padding-top: 3rem;
}

/* Alle Figcaption im Projekt für MV & DV */
.jo-pics figure figcaption,
.jo-map figcaption,
.book figcaption a,
.game figcaption a,
.website figcaption a {
  text-decoration: none;
  display: block;
  color: #7e7676;
  text-align: left;
  font-size: 0.7rem;
  padding: 7px 7px;
  font-family: var(--ff-p);
  cursor: pointer;
}
.jo-pics img,
.jo-map img,
.book img,
.game img,
.website img {
  vertical-align: top;
  border-radius: 6px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}
/* ==== me-hero-Einstellung ==== */
.hero-content {
  width: 100%;
}
/* Main-pic in der Mobile-Version nicht anzeigen */
.main-pic-desktop {
  display: none;
}
.say-hi {
  display: none;
}
.main-pic-mobile {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.main-pic-mobile img {
  border-radius: 3px;
  /* damit das bild mitten im Schatteneffekt steht */
  vertical-align: top;
}
/* ==== about-me-contanier-Einstellung ==== */
.bild-about-me {
  display: none;
}
/* ==== my-journey-Einstellung ==== */
.jo-map {
  margin: 0;
}
.journey-txt {
  text-align: left;
  font-family: var(--ff-p);
  font-size: 1rem;
}
.jo-pics figure {
  margin-right: 0;
  margin-left: 0;
}
/* ==== about-me-Einstellung ==== */
.btn-container a {
  font-size: var(--fs-p);
}
.hero-about__content h2 {
  font-family: var(--ff-title);
  font-size: 1.5rem;
  width: 80%;
  color: var(--txt-global);
  text-align: left;
}
.txt-last {
  padding-bottom: 2rem;
}
.skills-nummer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.skill-nummer {
  width: auto;
  height: auto;
  font-weight: normal;
  font-size: 0.91rem;
  font-family: var(--ff-p);
  color: var(--txt-global);
}
.skill_title {
  font-family: var(--ff-title);
  font-size: 1.5rem;
  color: var(--txt-global);
  text-align: left;
  color: var(--txt-global);
  font-weight: bold;
}
.ed {
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.aussenbalkon {
  background-color: #c4c4c4;
  height: 0.4rem;
}
.innenbalkon {
  background-color: var(--nav-color);
  height: inherit;
}
.h5_txt {
  text-align: left;
  font-size: 18px;
  color: var(--txt-global);
  margin-bottom: 2.5rem;
}
.linked-btn {
  display: inline-block;
  text-decoration: none;
  border: solid 20px #427b9c;
  background-color: #427b9c;
  color: white;
  font-size: 24px;
  width: 100%;
  letter-spacing: 1.5px;
  text-align: center;
  cursor: pointer;
  border-radius: 2.5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}
/* ==== my-achievements-Einstellung ==== */
.book,
.game,
.website {
  padding-bottom: 3rem;
}
.book figure,
.game figure,
.website figure {
  width: 100%;
  margin: 0;
}
.level-2 {
  margin-top: 2rem;
}
.last-achiev {
  padding-bottom: 3rem;
}
/* === Contact-Me fuer Mobile-Version === */
.contact-container {
  margin: 0;
  text-align: left;
  width: 100%;
}
.info-me a {
  text-decoration: underline;
  font-family: inherit;
  color: #2168ee;
  cursor: pointer;
  letter-spacing: 1.2px;
}
.info-me p {
  width: 100%;
  font-size: var(--fs-h2);
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0;
  color: #c74bacf1;
  padding-top: 7rem;
  padding-left: 5px;
}
.info-me h2 {
  width: 100%;
  font-size: 1.28rem;
  padding: 0 8px;
}
.form-container {
  padding: 10px 3px;
  border: solid 1px #ccc;
  height: 600px;
  margin: 3rem 0;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0px 2px 44px 0px rgba(0, 0, 0, 0.2);
}
.send-message {
  width: inherit;
  padding: 0.8rem;
}
.send-message label,
.send-message input,
.send-message select,
textarea {
  display: block;
  margin-top: 0.6rem;
  width: 100%;
  padding: 0;
}
.send-message input {
  padding: 5px;
}
.send-btn {
  width: 100%;
  margin-top: 0.5rem;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  box-shadow: 0px 2px 44px 0px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  color: #d1f0eb;
  background: var(--nav-color);
  font-size: 1.3rem;
}
form textarea {
  resize: none;
  display: block;
  width: 100%;
  overflow: scroll;
}
/* Footer für Mobile-Version*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: var(--background-mobile);
  padding-top: var(--pb);
  padding-left: var(--pl);
  padding-bottom: var(--pb);
  padding-right: var(--pl);
  width: 100%;
}
.footer-brand a {
  margin: 0;
  padding: 0;
  opacity: 2;
  color: black;
  font-size: var(--fs-p);
  font-family: var(--ff-title);
  letter-spacing: 0.4px;
}
footer ul {
  display: flex;
  margin: -0.2em;
}
footer li {
  margin: 0 7px;
}
footer img {
  display: inline-block;
  width: 1.5rem;
  vertical-align: text-bottom;
  color: var(--nav-color);
}
/* 
  Footer Brand fuer Desktop '2021 Rowan kharnoub' 
  in Mobile-Version nicht anzeigen 
*/
.footer-brand_a {
  display: none;
}

/* @media (min-width:641px) { / Desktop, portrait iPad, landscape 800x480 or 854x480 phones / } */
@media screen and (min-width: 1025px) {
  main {
    padding-right: 0;
    padding-left: 0;
    margin-top: -1.5rem;
  }
  h1 {
    font-family: var(--ff-title);
    font-style: normal;
    font-size: var(--fs-h1);
    color: var(--nav-color);
  }
  h2 {
    font-size: var(--fs-h2);
    font-family: var(--ff-title);
  }
  h5 {
    font-size: var(--fs-p);
    font-weight: 600;
  }
  p {
    font-family: var(--ff-p);
    font-size: var(--fs-p);
    text-align: left;
    font-weight: normal;
    color: var(--txt-global);
  }
  /* Paddings und Margins für Sections */
  .my-journey,
  .title-about-me,
  .my-achievements,
  .about-me,
  .contact-container,
  .hero-content {
    padding: 0 var(--base-padding);
  }
  /* === Header Einstellung === */
  header {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--background);
    align-items: center;
    padding-left: var(--base-padding);
    padding-right: var(--base-padding);
    box-shadow: 0px 2px 44px 0px rgba(0, 0, 0, 0.2);
  }
  .nav-toggle-label {
    display: none;
  }
  .navbar-brand {
    width: 35%;
  }
  .navbar-brand a {
    opacity: 1;
    color: var(--nav-dektop-c);
    font-size: var(--fs-p);
    font-family: var(--ff-p);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0;
    padding: 0;
    margin: 0;
  }
  nav {
    display: flex;
    /*  flex-grow, flex-shrink and flex-basis */
    flex: 0 3 0;
    position: relative;
    transition: none;
    transform: scale(1, 1);
    background: none;
    margin: 10px;
    width: 80%;
  }
  nav ul {
    display: flex;
    padding: 0;
    margin: 0;
  }
  nav li {
    margin-left: 2em;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
    color: #353847;
    font-size: var(--fs-p);
    font-family: var(--ff-title);
  }
  .navbar-brand a:hover,
  nav a:hover {
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-color: var(--nav-color);
    background-color: var(--nav-color);
    border-radius: 5px;
    font-size: auto;
  }
  /* ==== me-hero-Einstellung ==== */
  /* Mainbild für Desktop Version */
  .main-pic-mobile {
    display: none;
  }
  .me-hero {
    padding: 0;
    margin: 0;
    padding-top: 4rem;
    height: 670px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
      url("../images/eutin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero-content {
    max-width: 63%;
    display: block;
    /* flex-direction: column; */
  }
  .hero-content p {
    width: 90%;
    color: rgb(219, 217, 203);
    --fs-p: 1rem;
    margin: 0;
    padding: 0;
    font-family: var(--ff-title);
    font-weight: 600;
  }
  .hero-content h2 {
    width: auto;
    font-family: "Fugaz One";
    --fs-h2: 270%;
    font-weight: 550;
    color: rgba(245, 239, 209, 0.904);
  }
  .say-hi__container {
    width: 100%;
  }
  .say-hi {
    display: inline-block;
    text-decoration: none;
    margin-top: 3rem;
    margin-left: 4rem;
    width: 60%;
    font-family: var(--ff-p);
    font-weight: 700;
    border: solid 15px #427b9c;
    background-color: #427b9c;
    color: white;
    font-size: 1.39rem;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  }
  .say-hi:hover {
    background-color: rgb(241, 237, 237);
    color: #427b9c;
    border: solid 15px rgb(241, 237, 237);
  }
  /* ==== about-me-contanier-Einstellung ==== */
  .bild-about-me {
    display: block;
  }
  .title-about-me {
    padding-top: var(--mt);
  }
  /* ==== my-journey-Einstellung ==== */
  /* Container für die Pics in my-Journey Section*/
  .jo-pics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 2px;
    margin: 1rem 0 0 0;
  }
  .jo-pics figure {
    width: 45%;
    margin-bottom: 3.5rem;
  }
  .txt-journey-container,
  .pic-journey-container {
    overflow: auto;
    width: 45%;
  }
  .pic-journey-container p {
    width: 100%;
  }
  .jo-map {
    width: 60%;
  }
  /* Animation fuer Images in my-journey*/
  .jo-pics img {
    animation-name: fadeInUp;
    animation-duration: 4s;
  }
  .jo-pics img,
  .jo-map img {
    transition: 1s;
  }
  /* Beim Hovern den filter 'grayscale */
  .jo-pics img:hover,
  .jo-map img:hover {
    filter: grayscale(50%);
    transform: scale(1.1);
    cursor: pointer;
  }
  .journey__last-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  /* ==== about-me-Einstellung ==== */
  .hero-about__content {
    padding-top: 0;
  }
  .skill_title {
    padding-bottom: 1rem;
  }
  .aussenbalkon {
    background-color: #c4c4c4;
    height: 0.8rem;
  }
  .innenbalkon {
    background-color: var(--nav-color);
    height: inherit;
  }
  .skills-nummer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .skill-nummer {
    font-size: var(--fs-m-p);
  }
  /* Containers für Flex 
    .Skill-container fuer "Education & Experience" 
    .who-skill__container fuer "who am I" & skills und Experties 
  */
  .skill-container,
  .who-skill__container {
    display: flex;
    justify-content: space-between;
  }
  .skill-container,
  .btn-container,
  .who-skill__container {
    margin-top: var(--mt);
  }
  .who-I-container {
    width: 40%;
    flex-basis: 45%;
  }
  .who-I-container p {
    margin-top: 4rem;
  }
  .educ-container,
  .exper-container,
  .skill-exper-container {
    width: 50%;
    flex-basis: 45%;
  }
  /* ==== my-achievements-Einstellung ==== */
  .book,
  .game,
  .website {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap; /* Abkürzung fuer flex-direction & flex-wrap */
    align-items: center;
    row-gap: 50px;
    padding: 3rem 0;
    cursor: pointer;
  }
  .book h5,
  .game h5 {
    margin-bottom: 0;
    margin-top: 0;
  }
  .game-container {
    order: 5;
    width: 45%;
  }
  .book-title-container,
  .game-title-container,
  .webseite-title-container,
  .book-container,
  .webseite-container {
    width: 45%;
  }
  /* === Contact-Me fuer Mobile-Version === */
  /* dieser Container hat .get-me und .send-me in sich */
  .contact-container {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: auto;
    padding-top: 10rem;
    padding-bottom: 5rem;
    background: #d1f0eb;
    align-items: center;
  }
  .form-container {
    font-family: var(--ff-p);
    font-weight: bold;
    border: solid 1px #ccc;
    height: 700px;
    margin: 0;
    background: rgb(251, 248, 249);
    border-radius: 5px;
    box-shadow: 0px 2px 44px 0px rgba(0, 0, 0, 0.2);
  }
  form {
    margin: 1rem;
  }
  /* 
    .get-me fuer linke Spalte 
    .send-me fuer rechte Spalte
  */
  .get-me {
    width: 45%;
  }
  .send-me {
    width: 50%;
    padding-left: 0.8rem;
  }
  .info-me h2 {
    color: #000c41;
    font-size: var(--fs-h3);
    font-family: var(--ff-p);
    line-height: 1.3em;
    font-weight: 600;
    padding: 0;
  }
  .info-me p {
    padding: 0;
    font-size: var(--fs-h1);
  }
  .send-message {
    width: inherit;
  }
  .send-message label,
  .send-message input,
  .send-message select,
  textarea {
    display: block;
    margin-top: 0.6rem;
    width: 100%;
    padding: 3px 10px;
  }
  .send-message input {
    padding: 10px;
  }
  .send-btn {
    width: 100%;
    margin-top: 2rem;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 2px 44px 0px rgba(0, 0, 0, 0.2);
    color: #d1f0eb;
    background: var(--nav-color);
    font-size: var(--fs-p);
  }
  form textarea {
    height: 8rem;
    overflow: hidden;
    resize: none;
  }
  /* Inhalt von Footer Desktop-Version */
  footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    background-color: rgba(241, 237, 241, 0.65);
    width: 100%;
    padding-left: var(--base-padding);
    padding-right: var(--base-padding);
  }
  .footer-brand {
    display: none;
  }
  .footer-brand_a {
    display: flex;
    width: 50%;
  }
  .footer-brand_a a {
    opacity: 1;
    color: var(--nav-dektop-c);
    font-family: var(--ff-title);
    text-decoration: none;
    font-size: var(--fs-p);
    margin: 0;
    padding: 0;
  }
  .social-contanier {
    width: 50%;
  }
  footer ul {
    padding: 0;
    margin: 0;
  }
  footer li {
    margin-left: 2em;
  }
  footer img {
    display: inline-block;
    width: 1.8rem;
  }
  /* Animation fuer die Buttons */
  .linked-btn:hover,
  .send-btn:hover,
  .say-hi:hover,
  .game img:hover,
  .book img:hover,
  .website img:hover {
    animation-name: pulse;
    animation-duration: 0.8s;
  }
  /* Modal Hintergrund fuer Images */
  #lightbox {
    position: fixed;
    z-index: var(--z-modal);
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
  }
  #lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 6px;
    box-shadow: rgba(241, 237, 241, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.616);
  }

  /* Fade In Up Animation fuer Jo-pics */
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  /* Pulse Animation fuer Buttons */
  @keyframes pulse {
    0% {
      transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
      transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

  /* media screen and (min-width: 1025px) */
  /* @media screen and (max-width: 1800px) { */
  /* .hero-content { */

  /* } */
  /* } */
}
