<!-- Footer -->
<footer>
    <div class="footer-brand">
        <a href="/">2021 Rowan K.</a>
    </div>
    <div class="footer-brand_a">
        <a href="/">2021 Rowan Kharnoub</a>
    </div>
    <ul>
        <li>
            <a href="https://www.facebook.com/Rowan.kh1" class="fb">
                <img src="../images/facebook.png" alt="fakebook">
            </a>
        </li>
        <li>
            <a href="https://twitter.com/Myriam48644572" class="tw">
                <img src="../images/twitter.png" alt="twitter">
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/rowankhofficial/" class="inst">
                <img src="../images/instagram.png" alt="insta">
            </a>
        </li>
    </ul>
</footer>