--- 
title: "My Gallery!" 
layout: "base.njk" 
---
<div class="gallery">
    <div class="gallery-container">
        <div class="gallery-img">
            <div class="galley-content">
                <h1>Here is my Gallery</h1>
                <p>Welcome to my Gallery Section ..</p>
            </div>
        </div>
        {# <p class="me-hero-btn-container">
            <a class="gallery-hero__btn">Let's Dive into my Gallery!</a>
        </p> #}
        {# <div class="gallery-content">
            <h1>Here is my Gallery</h1>
            <p class="txt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio quo, vitae ipsum laudantium doloribus cupiditate obcaecati! Iste explicabo error animi magnam sed placeat dicta. Maxime?</p>
        </div> #}
    </div>
</div>