--- 
title: "My Gallery!" 
layout: "base.njk" 
---
<div class="gallery">
    <h1>Here is my Gallery</h1>
    <p class="txt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio quo, vitae ipsum laudantium doloribus cupiditate obcaecati! Iste explicabo error animi magnam sed placeat dicta. Maxime?</p>
</div>