--- 
title: "My Gallery!" 
layout: "base.njk" 
---
<div class="gallery">
    <div class="gallery-container">
        <div class="gallery-img">
            <div class="galley-content">
                <h1>Here is my Gallery</h1>
                <p>Welcome to my Gallery Section ..</p>
            </div>
        </div>
        {# <p class="me-hero-btn-container"
            <a class="gallery-hero__btn">Lt's Dive into my Gallery!</a>
        </p> #}
        {# <div class="gallery-content">
            <h1>Here is my Gallery</h1>
            <p class="txt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio quo, vitae ipsum laudantium doloribus cupiditate obcaecati! Iste explicabo error animi magnam sed placeat dicta. Maxime?</p>
        </div> #}
    </div>
    {# lokale Variable: Bild links oder nicht? #}
    {% set left = true %}
    {% set elementStyle = "" %}
    <div class="gallery-pic-container">

    {% for element in gallery %}
        {% if left %}
            {% set elementStyle = "gallery-left" %}
            {% set left = false %}
        {% else %}
            {% set elementStyle = "gallery-right" %}
            {% set left = true %}
        {% endif %}
        <div class="{{ elementStyle }}">
            <figure class="gallery-img">
                <img src="../images/{{ element.src }}" alt="{{ element.alt }}">
            </figure>
            <div class="gallery-txt">
                <p>
                    {{ element.text }}
                </p>
            </div>
        </div>
    {% endfor %}
<!--
        <div class="gallery-right">
            <div class="gallery-txt">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At ducimus assumenda ea tempora dolores aperiam asperiores cupiditate libero, quos ex?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At ducimus assumenda ea tempora dolores aperiam asperiores cupiditate libero, quos ex?
                </p>
            </div>
            <figure class="gallery-img">
                <img src="../images/strand.jpeg" alt="am strand">
            </figure>
        </div>
-->
    </div>
</div>