--- title: "Landing Page" layout: "base.njk" ---
{# Lade folgende Datei an dieser Stelle hinein! #}
{% include "./_includes/me-hero.njk" %}
{# Lade folgende Datei an dieser Stelle hinein! #}
{% include "./_includes/session-journey.njk" %}
{# Lade folgende Datei an dieser Stelle hinein! #}
{% include "./_includes/session-about-me.njk" %}
{% include "./_includes/session-my-achievements.njk" %}